django
gunicorn
whitenoise==6.6.0
requests
urllib3
psycopg2-binary
dj-database-url
django-cors-headers
djangorestframework
pillow
social-auth-app-django
django-otp
qrcode
bleach
cryptography
django-extensions
django-auditlog
pyOpenSSL
werkzeug
timedelta
python-dotenv
supabase